<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cweeyii.gis.dao.gismapper.AdminDivisionAliasMapper">

    <sql id="Base_Column_List">
        id,ad_id,alias,language_code,create_time,creator,update_time,updater
    </sql>

    <insert id="insert" parameterType="com.cweeyii.gis.domain.AdminDivisionAlias">
        insert into admin_division_alias(ad_id,alias,language_code,create_time,creator,update_time,updater)
        values (#{ad_id}, #{alias}, #{languageCode}, #{createTime}, #{creator}, #{updateTime}, #{updater})
	</insert>

    <select id="getADAliasByAdId" resultType="com.cweeyii.gis.domain.AdminDivisionAlias" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from admin_division_alias
        where ad_id=#{adId}
    </select>
</mapper>